 body { margin: 0; font-family: Arial; background: #111; color: #fff; text-align: center; }

.screen { display: none; padding: 20px; }

.screen.active { display: block; }

.hidden { display: none; }

/* ===== BOARD ===== */
#board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

/* ===== CELL ===== */
.cell {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
